/CurrencyArbitrage/target/
/L01Assignment/target/
/*.zip
/L02Assignment/target/
/L03BAssignment/nbproject/private/
/L03BAssignment/build/
/L03BAssignment/dist/
/L03CAssignment/nbproject/private/
/L03CAssignment/dist/
/L03CAssignment/build/
/L04A-Assignment/nbproject/private/
/L04A-Assignment/build/
/L04A-Assignment/dist/
/L04BAssignment/target/